table {
	margin-left: auto;
	margin-right: auto;
}
#button-extra {
	padding: 5px;
}
.ticboard {
	padding-top: 40px;
	padding-bottom: 20px;
}

.square {
	width: 80px;
	height: 80px; 
}

.v {
	border-left: 2px solid; 
	border-right: 2px solid;
}

.h {
	border-top: 2px solid;
	border-bottom: 2px solid; 
}
.grid {
	width: 40px;
	height: 40px;
	border: 1px solid; 
}